* {
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(68, 65, 65);
    font-size: 7vh;
}

main,
#formulario {
    overflow-y: auto;
    font-size: 3vh;
    height: 80%;
    width: 100%;
    background: rgb(68, 65, 65);
}

main {
    text-align: center;
}

#formulario label,
#formulario p,
input:not(input[type="radio"]) {
    margin-left: 40%;
}

input {
    color: black;
}

input:not(input[type="radio"]) {
    width: 20%;
    height: 4%;
}

#propietario {
    margin-left: 3%;
}

#arrendatario {
    margin-left: 2%;
}

button {
    border: none;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 4vh;
    padding: 1%;
    margin-bottom: 1%;
    transition-duration: 0.4s;
}

.aceptar {
    background-color: rgb(99, 238, 71);
}

.aceptar:disabled {
    cursor: default;
    opacity: 0.5;
}

.aceptar:hover {
    background-color: white;
    color: rgb(99, 238, 71);
}

.volver {
    background-color: rgb(245, 76, 76);
}

.volver:hover {
    background-color: white;
    color: rgb(245, 76, 76);
}

.opciones {
    background-color: rgb(68, 65, 65);
}

.opciones:hover {
    background-color: white;
    color: rgb(68, 65, 65);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    height: 10%;
    width: 100%;
    background: rgb(68, 65, 65);
    color: white;
}

footer p {
    border-bottom: 0.2vh white solid;
}

h2 {
    font-size: 5vh;
    text-align: center;
    text-shadow: 2px 2px 30px black;
}

h3 {
    font-size: 4vh;
    text-align: center;
}